#more {display: none;}
.max-width {
    max-width: 1200px
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
/*Buttons*/
.button__text {
    
}

/*Fonts*/







/*Background Colors*/
.bg-light {
    background-color: #FDFEFF !important;
}
/*Carousel*/
#slider {
    /*height: 350px;
    overflow: hidden;
    width: 100%;*/
}
.carousel-indicators li {
    width: 16px;
    height: 16px;
    border-radius: 100%;
}
.carousel-control-prev-icon {
    background-image: url(../images/carouselArrowLeft.svg);
    width: 80px;
    height: 80px;
}
.carousel-control-next-icon {
    background-image: url(../images/carouselArrowRight.svg);
    width: 80px;
    height: 80px;
}





/*Footer*/
.footer {
    height: 400px;
    background-image: url(../images/desktopFooter1920.svg);
    background-repeat: no-repeat;
}
.footer__text{
    text-align: center;
    padding-top: 17vh;
}
.footer__link {
    color: #FDFEFF;
}
.footer__copyright {
    background-color: #56414F;
    color: #FDFEFF;
    text-align: center;
    height: 5vh;
    padding-top: 1vh;
}
.footer__social {

}

/*media queries
1. footer o.g. = 1920 --> drop to 1440 --> drop to 375